[access]
	inheritFrom = All-Projects
[project]
	description = A simple file system
[access "refs/*"]
	owner = group user/Ryan Chalmers (Ryan-Chalmers)
[access "refs/for/refs/*"]
	read = group user/Ryan Chalmers (Ryan-Chalmers)
	push = group user/Ryan Chalmers (Ryan-Chalmers)
	label-Code-Review = -2..+2 group user/Ryan Chalmers (Ryan-Chalmers)
	label-Verified = -1..+1 group user/Ryan Chalmers (Ryan-Chalmers)
	rebase = group user/Ryan Chalmers (Ryan-Chalmers)
	removeReviewer = group user/Ryan Chalmers (Ryan-Chalmers)
	submit = group user/Ryan Chalmers (Ryan-Chalmers)
[access "refs/heads/*"]
	read = group user/Ryan Chalmers (Ryan-Chalmers)
	create = group user/Ryan Chalmers (Ryan-Chalmers)
	push = +force group user/Ryan Chalmers (Ryan-Chalmers)
	pushMerge = group user/Ryan Chalmers (Ryan-Chalmers)
[access "refs/tags/*"]
	push = group user/Ryan Chalmers (Ryan-Chalmers)
	push = +force group user/Ryan Chalmers (Ryan-Chalmers)
